streamlit
openai
sentence-transformers
tiktoken
langchain
langchain_community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-qdrant
qdrant-client>=1.8.0
beautifulsoup4
lxml
requests